:root {
  --blue: #0071dc;
  --active-blue: #004f9a;
  --withe: #ffffff;
  --font-medium: 20px;
  --font-title: 14px;
  --font-content-mobile: 12px;
  --gray-hover: 	#C0C0C0;
  --font-bold: 900;
}

body header {
  background-color: var(--blue);
}

.cardContainer{
  display: grid;
  grid-auto-columns: 150px;
  grid-auto-flow: column;
  gap: 20px;
}
.cardContainer .card {
  width: 100%;
  max-width: 290px;
}

.card-title{
  font-size: var(--font-title);
}
.card .card-body{
  padding: 0;
}
.card-body p{
  font-size: 12px;
  max-height: 45px;
  overflow: hidden;
}
#img {
  margin-inline: auto;
  /* width: 90%; */
  border-radius: 8px;
}

.logo {
  width: 90px;
}

.log-in {
  display: block;
  position: relative;
  margin: auto;
  padding: 10px 15px;
  border-radius: 20px;
  z-index: 3;
}

.log-in:hover,
.log-in:focus {
  background-color: var(--active-blue);
}
.alert-warning.alert{
   position: absolute;
    left: 20%;
    top: 25%;
    border-radius: 0;
    width: 50%;
    height: auto;
    font-size: 12px;
    padding: 0;
}
.nav-item:hover,
.nav-item:focus{
  font-size: var(--font-medium);
  font-weight: var(--font-bold);
  padding: 0px 15px;
  border-radius: 20px;
  
}

.log-in img {
  border-radius: 50%;
  width: 50px;
  height: 50px;

}

.accountOption {
  display: none;
}

.log-in .show .accountOption {
  display: block;
  position: absolute;
  width: 10rem;
  height: 9rem;
  top: 50px;
  border-radius: 10px;
  background-color: var(--withe);
  font-size: var(--font-medium);
  z-index: 3;
}

.accountOption article:last-child {
  text-align: center;
  width: 130px;
  padding: 5px 0;
  background-color: var(--blue);
  border-radius: 20px;
}

.accountOption article:hover {
  transform: scale(1.2);
}

.BgFilter.show {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: #004f9a;
  z-index: 2;
  opacity: 0.5;
}

.search-form {
  margin: auto;
  width: 50%;
  max-width: 500px;
}
main{
  position: relative;
}
.material-symbols-outlined.close{
  font-weight: 900;
  font-size: 40px;
  color: red;
}

.log-in-page{
  display: none;
}
.log-in-page.show{
  display: flex;
  justify-content: center;
  position: relative;
  width: 60%;
  max-width: 500px;
  border-radius: 10px;
  background-color: var(--withe);
  position: absolute;
  left: 30%;
  top: 0;
  z-index: 3;
}
.log-in-page div{
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 50px;
  height: 50px;
  right: 10px;
  top: 10px;
  
  border: var(--active-blue) solid 1px;
  border-radius: 50%;
}
.log-in-page div:hover{
  transform: scale(1.2);
  border: var(--gray-hover) solid 1px;
  background-color: var(--gray-hover);
}
.log-in-page-form{
  display: grid;
  gap: 20px;
  grid-template-columns: 130px  300px;
  grid-auto-rows: 40px;
  width: 90%;
  margin-top: 70px;
  margin-bottom: 30px ;
  font-size: var(--font-medium);
}
.log-in-page-form input{
  width: 100%;
  border-radius: 10px;
  outline: none;
  padding-inline: 10px;
}
.log-in-page-form .loginBtn{
  grid-area: 3 / 1 / 3 / 3 ;
}
.log-in-page-form .sigup{
  grid-area: 8 / 1 / 8 / 3 ;
}
.log-in-page-form picture{
  display: grid;
  position: relative;
  grid-area: 5 / 2 / 8 / 3 ;
  justify-content: center;
  width: 50%;
  border: #004f9a 2px dotted;

}
.log-in-page-form picture img{
  position: absolute;
  color: var(--active-blue);
  width: 75%;
  top: 10%;
  left: 10%;
  z-index: 2;
}
.log-in-page-form picture p{
  font-size: var(--font-medium);
  font-weight: var(--font-bold);
  position: absolute;
  bottom: -20px;
  color: var(--blue);
  
}
.log-in-page-form picture .cancel{
  position: absolute;
  font-size: 40px;
  color: var(--active-blue);
  right: 10px;
  z-index: 2;
}
.log-in-page-form picture button{
  position: absolute;
  bottom: calc(50%);
  right: -90px;
  z-index: 1;
}
.log-in-page-form picture input{
  width: 100%;
  height: 100%;
  background-color: #004f9a;
  opacity: 0;
  z-index: 2;
}
.log-in-page-form button{
  display: grid;
  margin: 0 auto;
  width: 50%;
  border-radius: 10px;  
}
.DescriptionSize {
  font-size: 14px;
}

.dropdown-menu .input-group {
  height: 35px;
}
.productDetail{
  display: grid;
  grid-template-columns: 10% 60% 30%;
  width: 80%;
  margin-inline: auto;
}

.productDetail section{

  width: 20%;
}


#a{
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
}
.productDetail .details{
  display: grid;
  width: 100%;
  text-align: left;
}
.productDetail .details h1{
  font-size: 40px;
}
.productDetail .details p{
  font-weight: var(--font-bold);
  font-size: 30px;
}
.productDetail .details article{
  font-size: 30px;
}
.productDetail .details span{
  font-size: 12px;
}
.images button{  
  margin-top: 20px;
  padding-bottom: 5px;
  border: none;
  background-color: transparent;
}
.images button.active{  
  border-bottom: var(--active-blue) 6px solid;
}
#details button{
  margin-top: 30px;
  height: 50px;
  border-radius: 50px;
  background-color: var(--blue);
  width: 50%;
  justify-self: center;
  color: var(--withe);
  font-size: var(--font-medium);
  font-weight: var(--font-bold);
}
#details button:hover{
  transform: scale(1.2);
  background-color: var(--active-blue);
}
.carousel-inner{
  display: grid;
  justify-items: center;
}
.activeImage{
  min-width: 600px;
  max-width: 100%;
  max-height: 90%;
}
#related{
  width: 100%;
  grid-area: 2/1/2/4;
  overflow-x: scroll;
  margin-bottom: 30px;
}
@media (max-width: 800px){
  .log-in-page.show{
    display: grid;
    position: relative;
    width: 100%;
    left:unset;
    max-width: 500px;
    margin-inline:  auto;
    top: -200px;
  }
  .images{  
    display: grid;
    grid-auto-columns: 120px;
    grid-auto-flow: column;
    grid-area: 2/1/2/1;
  }
  #related{
    grid-area: 4/1/4/1;
  }
  .productDetail div:nth-child(2){
    width: 100%;
  }
  .productDetail{
    display: grid;
    grid-template-columns: 100%;
    grid-auto-flow: row;
  }
  .productDetail .details h1{
    font-size: var(--font-medium);
  }
  .productDetail .details article{
    font-size: var(--font-title);
  }
  #details button{
    margin-top: 10px;
    height: 40px;
    border-radius: 10px;
    font-size: var(--font-medium);
  }

  .activeImage {
    width: 560px;
    min-width: unset ;
}
}
@media (max-width: 500px) {
  #img {
    margin-inline: auto;
    width: 100%;
    border-radius: 8px;
  }

  .log-in {
    display: block;
    max-width: 150px;
    margin: auto 0;
    padding: 10px 15px;
    border-radius: 20px;
  }
  .log-in-page.show{
    display: grid;
    position: relative;
    width: 100%;
    left:unset;
    max-width: 500px;
    margin-inline:  auto;
    top: -200px;
  }
  .log-in-page-form{
    grid-template-columns: 280px;
    grid-auto-rows: 40px;
    grid-auto-flow: row;
  }

  .log-in-page-form .loginBtn{
    width: 50%;
    max-width: 320px;
    grid-area: 5 / 1 / 5 / 2 ;
  }
  .log-in-page-form .sigup{
    width: 80%;
    max-width: 320px;
    grid-area: 14 / 1 / 14 / 2 ;
  }
  .log-in-page-form picture{
    display: grid;
    position: relative;
    grid-area: 10 / 1 / 14 / 2 ;
    margin-inline: auto ;
    width: 50%;
    border: #004f9a 2px dotted;
  
  }
  .log-in-page-form input{
    width: 90%;
    border-radius: 10px;
    outline: none;
    padding-inline: 10px;
  }
  .images{  
    display: grid;
    grid-auto-columns: 50px;
    grid-auto-flow: column;
    grid-area: 2/1/2/1;
  }
  #related{
    grid-area: 4/1/4/1;
  }
  .productDetail div:nth-child(2){
    width: 100%;
  }
  .productDetail{
    display: grid;
    grid-template-columns: 100%;
    grid-auto-flow: row;
  }
  .productDetail .details h1{
    font-size: var(--font-medium);
  }
  .productDetail .details article{
    font-size: var(--font-title);
  }
  #details button{
    margin-top: 10px;
    height: 40px;
    border-radius: 10px;
    font-size: var(--font-medium);
  }

  .activeImage {
    width: 320px;
    min-width: unset ;
}
}

